<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net"
      type="log4net.Config.Log4NetConfigurationSectionHandler,&#xD;&#xA;log4net-net-1.0"/>
  </configSections>
  <appSettings>
    <!--处理自动调价轮询间隔时间 单位：分钟-->
    <add key="PollingTime" value="1"/>
    <!--数据库类型与数据库连接字符串-->
    <add key="DBType" value="sqlserver" />
    <add key="MainConnectionString" value="server=TIGER_LI;Database=AKV8Managetest;Uid=sa;Pwd=1;" />
  </appSettings>
  <!-- log4net配置-->
  <log4net>
    <appender name="LogHelper" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="MeasureAdjustLogs/" />
      <!--追加日志内容-->
      <param name="AppendToFile" value="true" />
      <!--日志最大个数,设定值value="－1"为不限文件数-->
      <!--RollingStyle为Size时，只能有value个日志-->
      <!--RollingStyle为Composite时，每天有value个日志-->
      <param name="MaxSizeRollBackups" value="-1" />
      <!--最小锁定模型以允许多个进程可以写入同一个文件-->
      <param name="lockingModel"  type="log4net.Appender.FileAppender+MinimalLock" />
      <param name="MaximumFileSize" value="10MB" />
      <!--可以为：Once|Size|Date|Composite-->
      <param name="RollingStyle" value="Composite" />
      <!--当备份文件时。为文件名加的后缀-->
      <param name="DatePattern" value="/yyyy-MM-dd/'client.log'" />
      <!--是否只写到一个文件中-->
      <param name="StaticLogFileName" value="false" />
      <!--日志输出格式-->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%-5p %d{yyyy-MM-dd HH:mm:ss} %m%n" />
      </layout>
    </appender>
    <appender name="ConsoleAppender"  type="log4net.Appender.ConsoleAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%-5p %d{yyyy-MM-dd HH:mm:ss} %m%n" />
      </layout>
    </appender>
    <logger name="LogHelper">
      <level value="all" />
      <appender-ref ref="LogHelper" />
      <appender-ref ref="ConsoleAppender" />
    </logger>
    <root>
      <level value="all" />
    </root>
  </log4net>
</configuration>